PORT=8081

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=restaurant_pos

PUBLIC_BASE_URL=http://localhost:8081

LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_REDIRECT_URI=http://localhost:8081/line/connect/callback
